.ui.large.top.fixed.menu
  .ui.container
    -if (loggedIn) {
      a.item(href='/profile' class=active==='profile' ? 'active' : '') Home
      a.item(href='/profile/loans' class=active==='loans' ? 'active' : '') Your Loans
      a.item(href='/profile/loans/new' class=active==='new' ? 'active' : '') Create New Loan
      a.item(href='/profile/account' class=active==='account' ? 'active' : '') Account Settings
    -} else {
      a.item(href='/')
        img.logo(src='/img/logo.png')
        span.primary 
          | EOEN 
        span(style='color:#000000')
          | Mortgage
      a.item(href='/' class=active==='index' ? 'active' : '') Home
      a.item(href='/demo' class=currentPage === 'demo' ? 'active' : '') Demo
    -}
    -if (loggedIn) {
      .right.menu
        .item
          | Hello, #{user.name}!
        .item
          a.ui.primary.button(href='/auth/logout') Log Out
    -}
  
