extends ../profile/index

block profile
  .ui.container.page-content


    -if (user.loans.length > 0) {
      table.ui.celled.padded.table
        thead
          tr
            th.single.line Loan Name
            th Loan Amount
            th Down Payment
            th APR
            th Life of Loan
            th Payments Per Year
            th Edit
            th Delete
        tbody
          each loan in user.loans
            tr
              td.right.aligned
                a.header(href='/profile/loans/' + loan.id)
                  h2.ui.center.aligned=loan.name
              td.single.line.right.aligned
                | $#{loan.loanAmount}
              td.right.aligned
                | $#{loan.downPayment}
              td.right.aligned
                | #{loan.apr}%
              td
                | #{loan.lifeOfLoan} years
              td
                | #{loan.paymentsPerYear}
              td
                a(href='/profile/loans/' + loanId + '/edit')
                  .ui.center.aligned
                    i.edit.icon
              td
                a.delete(data-confirm="Are you sure?" data-method="delete" href="/profile/loans/"+loan.id rel="nofollow")
                  .ui.center.aligned    
                    i.red.window.close.icon

    - } else {
      ui.stackable.grid
        .six.wide.column
          .row
            h4 You currently do not have any loans.
          .row
            a.ui.small.orange.button(href='/profile/loans/new') 
              | Add a New Loan
    - }
    
    script.
      $('.delete').on('click', function(e) {
        e.preventDefault();
        var element = $(this);
        var url = element.attr('href');
        console.log(url);
        $.ajax({
          method: 'DELETE',
          url: url,
        }).done(function(data) {
          window.location = '/profile/loans';
        });
      });
      
