extends ../../profile/index

block profile
  .ui.container.page-content
    table.ui.celled.padded.table
      thead
        tr
          th.single.line Loan Name
          th Loan Amount
          th Down Payment
          th APR
          th Life of Loan
          th Payments Per Year
          th Edit
          th Delete
      tbody
        tr
          td
            h2.ui.center.aligned=loan.name
          td.right.aligned
            | $
            span#loanAmount #{loan.loanAmount}
          td.right.aligned
            | $
            span#downPayment #{loan.downPayment}
          td.right.aligned
            span#apr #{loan.apr}
            | %
          td
            span#lifeOfLoan #{loan.lifeOfLoan}
            |  years
          td
            span#paymentsPerYear #{loan.paymentsPerYear}
          td
            a(href='/profile/loans/' + loanId + '/edit')
              .ui.center.aligned
                i.edit.icon
          td
            a.delete(data-confirm="Are you sure?" data-method="delete" href="/profile/loans/"+loan.id rel="nofollow")
              .ui.center.aligned    
                i.red.window.close.icon

  
    .ui.container.page-content
      table.ui.celled.padded.table
        thead
          tr
            th Total Interest
            th Total Principle
            th Total Paid
        tbody
          tr
            td.totalInterest.ui.red
            td.totalPrinciple.ui.green
            td.totalPaid
    .ui.container.page-content
      h1.ui.header Let's View Your Loan
      .ui.grid#chart
    .ui.stackable.raised.segment.grid.center.aligned.middle.aligned
      .six.wide.column
        form.ui.large.form#view
          .field
            .ui.radio.checkbox
              input#stacked(type='radio', name='view' value='stacked')
              label(for='stacked') Stacked
          .field
            .ui.radio.checkbox
              input#grouped(type='radio', name='view', value='grouped' checked)
              label(for='grouped') Grouped
  
  script(src="http://d3js.org/d3.v4.min.js" charset="utf-8")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js") 
  script(src='/js/demo.js')
  script(src='/js/autoLoadChart.js')

  script.
    $('.delete').on('click', function(e) {
      e.preventDefault();
      var element = $(this);
      var url = element.attr('href');
      console.log(url);
      $.ajax({
        method: 'DELETE',
        url: url,
      }).done(function(data) {
        window.location = '/profile/loans';
      });
    });
